.footer {
  background: #26032c;
  padding-top: 48px;
  padding-bottom: 16px;

  @include media(desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-container {
  @include media(desktop) {
    padding: 0 100px;
  }
}

.footer-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 100px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 1;
  }
}

.footer-logo-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: -0.05em;
  color: #a900a9;

  @include media(desktop) {
  }
}

.footer-nav {
  margin-bottom: 8px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 3;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 32px;
  }
}

.footer-list-item {
  @include media(desktop) {
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #b6ebff;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: #b6ebff;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
    order: 2;
  }
}
