.header {
  background: rgba(244, 250, 253, 0.9);
  border-bottom: 4px solid #b6ebff;
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 12px 0;
  }
}

.header-transparent {
  background: transparent;

  @include media(desktop) {
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.header-logo-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: -0.05em;
  color: #a900a9;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.nav-list-link {
  border-bottom: 2px solid transparent;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  color: #3c494e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #a900a9;
    border-color: #a900a9;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
