body {
  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
  }
}

.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 124px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 164px;
    padding-bottom: 30px;
    max-width: 1440px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 38px;
  }
}

.hero-text-wrapper {
  @include media(desktop) {
    max-width: 457px;
  }
}

.hero-title {
  margin: 0;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #161d1f;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.hero-title-span {
  color: #a900a9;
}

.hero-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #3c494e;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.hero-cta-link {
  background: #a900a9;
  border-bottom: 4px solid #500050;
  border-radius: 16px;
  padding: 9px 40px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.21429;
  text-align: center;
  color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    max-width: max-content;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 554px;
    margin: 0;
  }
}
