.locations-section {
  background: #00677f;

  @include media(desktop) {
  }
}

.locations-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.locations-container {
  @include media(desktop) {
  }
}

.locations-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
  }
}

.locations-text-wrapper {
  @include media(desktop) {
    max-width: 558px;
  }
}

.locations-title {
  margin: 0;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.locations-subtitle {
  text-align: left;
  color: #f0f8ff;

  @include media(desktop) {
  }
}

.locations-span {
  color: #b6ebff;
}

.locations-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #f0f8ff;

  @include media(desktop) {
  }
}

.locations-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 588px;
    margin: 0;
  }
}
