<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">The Choice</h2>
      <p class="section-subtitle about-subtitle">
        Left or Right Isn’t Just Direction
      </p>
      <p class="about-top-text">Every turn is a decision.</p>
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <div class="about-top-wrapper">
            <svg class="hand-icon" width="40" height="42">
              <use href="./img/sprite.svg#icon-hand"></use>
            </svg>
            <p class="about-top-wrapper-title">Intuitive Swipe Mastery</p>
            <p class="about-top-wrapper-text">
              Swipe left. The ball shifts. Swipe right. It changes direction
              again. Sometimes up, sometimes down — always forward.
            </p>
          </div>
          <p class="about-text">
            But it’s never random. Different paths take you to completely
            different places, and honestly, some of them are pretty dangerous.
            And there’s no time to stop and consider. Whatever you pick, you're
            stuck with the consequences.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="663"
            height="602" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="351"
            height="320" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="351"
            height="320"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
