<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <div class="cta-text-wrapper">
          <h2 class="section-title cta-title">Start the Run</h2>
          <p class="section-subtitle cta-subtitle">Make the First Move</p>
          <p class="cta-top-text">Don’t think too much. Just swipe.</p>
          <a
            class="cta-cta-link"
            href="https://play.google.com/store/apps/details?id=com.UberGameware.JunctionRun&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            >Download Junction Run</a
          >
          <div class="cta-bottom-wrapper">
            <p class="cta-left-text">
              Version 1.2.9<br />
              Updated Jan 17, 2026
            </p>
            <p class="cta-right-text">
              Android 6.0+<br />
              100+ downloads
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
