<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-content-wrapper">
        <div class="experience-text-wrapper">
          <h2 class="section-title experience-title">Start the Run</h2>
          <p class="section-subtitle experience-subtitle">
            Almost Doesn’t Count
          </p>
          <p class="experience-text">
            You were close.<br />
            One wrong swipe.<br />
            One moment too slow.<br />
            The ball falls, stops, resets.<br />
            And for a second, you replay it in your mind.<br />
            You knew the path.<br />
            You saw the turn.<br />
            You just didn’t react fast enough.<br />
            That’s what makes you try again.<br />
          </p>
        </div>
        <div class="experience-img-wrapper">
          <picture>
            <source
              srcset="./img/experience/experience-img1-desk.png"
              media="(min-width: 1440px)"
              width="322"
              height="257" />
            <source
              srcset="./img/experience/experience-img1-mob.png"
              width="343"
              height="257" />
            <img
              class="experience-img"
              src="./img/experience/experience-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="257"
              loading="lazy"
          /></picture>
          <picture>
            <source
              srcset="./img/experience/experience-img2-desk.png"
              media="(min-width: 1440px)"
              width="322"
              height="296" />
            <source
              srcset="./img/experience/experience-img2-mob.png"
              width="343"
              height="296" />
            <img
              class="experience-img"
              src="./img/experience/experience-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="296"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
