<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">How It Works</h2>
      <p class="section-subtitle features-subtitle">
        Simple Control.<br />
        <span class="gameplay-span"> No Second Chances.</span>
      </p>
      <p class="gameplay-top-text">You don’t need instructions.</p>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img1.png"
            alt="Screenshot of the game"
            width="178"
            height="178"
          />
          <p class="gameplay-item-text">Swipe to change direction</p>
        </li>
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img2.png"
            alt="Screenshot of the game"
            width="178"
            height="178"
          />
          <p class="gameplay-item-text">Follow the correct path</p>
        </li>
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img3.png"
            alt="Screenshot of the game"
            width="178"
            height="178"
          />
          <p class="gameplay-item-text">Avoid obstacles</p>
        </li>
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img4.png"
            alt="Screenshot of the game"
            width="178"
            height="178"
          />
          <p class="gameplay-item-text">Reach the finish</p>
        </li>
      </ul>
      <p class="gameplay-bottom-text">
        The rules are easy. The timing is everything.
      </p>
    </div>
  </div>
</section>
