<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h2 class="section-title hero-title">The First Roll</h2>
          <h1 class="hero-main-title">
            It Starts Moving…<br />
            <span class="hero-title-span"> and Doesn’t Stop</span>
          </h1>
          <p class="hero-text">
            The ball begins to roll.<br />
            No countdown. No warning. Just motion.<br />
            The path stretches ahead — smooth at first, almost inviting. You
            follow it instinctively. There’s no need to think yet.<br />
            But then, the first junction appears.<br />
            Then boom - it's all on you to make the right call.
          </p>
          <a
            class="hero-cta-link"
            href="https://play.google.com/store/apps/details?id=com.UberGameware.JunctionRun&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            >Play Now!</a
          >
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="554"
            height="553" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="343"
            height="346" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="346"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
