<section class="section locations-section" id="locations">
  <div class="locations-bg-wrapper">
    <div class="container locations-container">
      <div class="locations-content-wrapper">
        <div class="locations-text-wrapper">
          <h2 class="section-title locations-title">The Flow State</h2>
          <p class="section-subtitle locations-subtitle">
            You Stop Thinking.<br />
            <span class="locations-span"> You Start Reacting.</span>
          </p>
          <p class="locations-text">
            After a few runs, something changes. After a while, you stop
            overthinking it and just react. Your fingers know what to do before
            your brain does. You get into this weird groove where you're not
            even thinking anymore. Ball goes left, you swipe left. Path splits,
            you pick one. It's that simple. Eventually you just stop fighting it
            and let muscle memory take over.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/locations/locations-img-desk.png"
            media="(min-width: 1440px)"
            width="588"
            height="588" />
          <source
            srcset="./img/locations/locations-img-mob.png"
            width="343"
            height="343" />
          <img
            class="locations-img"
            src="./img/locations/locations-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="343"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
